#holder {
    position:fixed;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    color:white;
    background:blue; 
}

#app{
    height:85;
    width:45;
    border: 1px solid red; 
     position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

select{
    width:100%; 
    text-align:center; 
    
}